{
  "extends": ["standard"],
  "plugins": ["promise"],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "indent": [2, 4],
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "no-constant-condition": 0,
    "promise/param-names": 2,
    "promise/always-return": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 0
  }
}
